<div class="hide-modal">
  <div class="dialog-modal share-event">
    <h2>Share this event with your coworkers</h2>
    <form>
      <fieldset class="inputs">
        <ol>
          <div class="suggestions">
            <p>Customize message</p>
          </div>
          <div class="nested-field">
            <li>
              <textarea rows="4" cols="50">
                  <% if current_user == @event.owner %>
                    I created an event in sched.do
                  <% else %>
                    I voted on an event in sched.do
                  <% end %>
              </textarea>
            </li>
            <li>
              <div id="auto-complete">
              </div>
            </li>
          </div>
        </ol>
      </fieldset>

      <fieldset class="actions">
        <ol>
          <li class="action input-action"><%= button_to 'Share', '#', class: 'share-button cta' %></li>
        </ol>
      </fieldset>
    </form>
  </div>
</div>
