<div class="hide-modal">
  <div class="dialog-modal share-app">
    <h2>Share on the <%= current_user.yammer_network_name %> network</h2>
    <form>
      <fieldset class="inputs">
        <ol>
          <div class="suggestions">
            <p>Customize message</p>
          </div>
          <div class="nested-field">
            <li>
              <textarea rows="4" cols="50">
Did you know you can send your own polls for free? Use sched.do to schedule events by polling attendees quickly. https://www.sched.do/
              </textarea>
            </li>
          </div>
        </ol>
      </fieldset>

      <fieldset class="actions">
        <ol>
          <li class="action input-action"><%= button_to 'Share', '#', class: 'share-button cta' %></li>
        </ol>
      </fieldset>
    </form>
  </div>
</div>
